[2017-05-09 23:43] cam opened #1 "Create new repo"
This one is for you @ButsAndCats!

As part of making our resources modular public libraries, let's get the Ajax forms and pagination packaged up into a plugin for all Shopify themes and frameworks. Not just (Reinforced) Concrete.

[2017-05-19 04:27] #1 closed, assigned to georgebutter

[2017-05-20 04:58] Cam opened #6 "Docs pages"
Let's have the docs pages for this (and all public projects) look like this...

<img src="https://d1zjcuqflbd5k.cloudfront.net/files/acc_33229/KcmK2?response-content-disposition=inline;%20filename=Screen%20Shot%20on%202017-05-20%20at%2014%3A56%3A26.png&Expires=1495256624&Signature=ZMP3v0cIDGuoQDQBxLgtJfVEAA7EyTRQXIn3iN7tJ4u6H28rlWZv6NlVQJlZu0cIH2JpypZkxPbdpIdeU48FUEiwf1W4SaBxdTzcyWRBwYtmOFNBFD46be

[2017-05-22 02:01] ButsAndCats commented on #6
https://elkfox.github.io/Ajaxify/

[2017-05-22 03:36] Cam commented on #6
Ahh, damn. The attachment stopped working! Weird. I'm attaching it again to show some of the other changes I think we nee to make so that it is a little cleaner looking...

[2017-05-24 01:13] #6 closed

[2017-10-05 19:00] bradleyDouglas opened #11 "Destroy Event?"
I'm currently working on a theme and the customer would like to set the pagination to 24, but give the user a 'View All' option. An onClick event works great for initializing Ajaxify. However, if the user wants to switch back to pagination there's no way (that I can see) to destroy Ajaxify.

Any thoughts on how to implement something like this?

Thanks!

[2017-10-14 23:53] ButsAndCats commented on #11
That's a good question...
Haven't need to use that yet so I'm not sure how to go about doing that as of yet. Will have to think on it.

I'm the mean time I would advise on just creating two templates, one which initialises ajaxify and one that does not.

[2017-10-14 23:53] ButsAndCats opened #12 "rename ajaxify to ajaxinate"
ajaxify already exists

[2017-10-17 20:29] bradleyDouglas commented on #11
Thanks for the response. I did end up just creating two templates. Works great.

[2017-10-19 02:45] ButsAndCats commented on #11
Will leave this issue open because this is something that could be added.

[2017-10-19 02:46] ButsAndCats opened #13 "URL parameters"
Option to push page url parameters on endscroll and click methods.

[2017-10-19 22:59] Cam commented on #11
Good call I think. A destroy option is a noble inclusion.

[2017-10-20 00:30] ButsAndCats opened #14 "Distance from top on scroll set to the last load more button"
Better for when there is lots of content at the bottom

[2018-03-03 05:37] elisafern12 opened #15 "Only fading/loading with one page"
Hello!

It is a great script! However, when after implementing it, I realize that it only seem to work with page one, then after all the image are loading at once. Or maybe the problem is that I think it is loading too fast and therefore, it looks like all the products are in one page instead of gradually loading. Is there a way to create a delay?

Am I missing something?

Thanks a bunch!

[2018-03-05 00:14] ButsAndCats commented on #15
Hello @elisafern12 can you send me a link?

[2018-03-06 16:41] GeneralA6 opened #16 "Recursive Endless scrolling"
while trying to scroll down really fast, if will load several requests at a time while they load and you continue scrolling it will load even more requests.

Suggest you trying your code in a shop with a lot of products lets say 200+ so you can really see the scrolling bar shrinking very fast.

I fixed that logic issue .Check out my version of endless scrolling that i've built on your code as a ba

[2018-03-06 23:34] ButsAndCats commented on #16
Yeh we are going to re-write this pretty soon.

There is some quite naive code in it and there have been a few feature requests and optimisations that can be made.

I have never experienced an issue with scrolling down too fast and have tested this on a store with 10,000 products but there are some issues with the way it detects the scroll position so maybe thats related to the issue you were havi

[2018-03-06 23:34] #16 closed

[2018-04-13 02:57] ButsAndCats commented on #15
Closing as no response received leave a comment if you still need help.

[2018-04-13 02:57] #15 closed

[2018-06-29 01:05] marioloncarek opened #18 "ajaxify is not defined when using with new Slate"
Hello,
great plugin, i used it before. Now i want to implement it in new Slate which uses webpack. I get this error:

[code]

Could you help?

[2018-06-29 01:31] marioloncarek commented on #18
managed to fix it just by declaring ajaxify as ` let variable`

[2018-07-05 09:36] marioloncarek commented on #18
Yes im using es6 with babel, i will then use `const` . Thanks for help!

[2018-07-05 09:47] ButsAndCats commented on #18
I am actually just re-writing this plugin so you may like to use the new version. I will let you know when it is up.

[2018-07-05 09:51] marioloncarek commented on #18
please do, will try it immediately. thanks for your great work!

[2018-07-05 09:59] ButsAndCats commented on #18
Okay, it's up now. There is some new documentation too. Your HTML structure might need to change

[2018-07-05 09:59] #18 closed

[2018-07-05 17:50] ButsAndCats commented on #14
Resolved in v2

[2018-07-05 17:50] #14 closed

[2018-07-05 17:50] ButsAndCats commented on #12
resolved in v2

[2018-07-05 17:50] #12 closed

[2018-07-05 23:16] ButsAndCats commented on #13
Decided that this was a bad idea and could be added to the callback if needed anyway.

[2018-07-05 23:16] #13 closed

[2018-07-06 03:48] ButsAndCats commented on #11
Added in 2.0.4 3d8f5be

[2018-07-06 03:48] #11 closed

[2018-08-09 14:46] mattkersner opened #19 "Only loading one page of products"
I'm experiencing an issue where on the first page of the pagination, it keeps loading the same products over and over again infinitely. On the page it starts with 12 products, when I reach the bottom of the page, it loads the next 12 products. After that though, it loads the first 12 products again, and then the second 12, and it continues this way and never gets into the 3rd page of products.

Ur

[2018-08-09 14:59] mattkersner commented on #19
So, the issue was with my pagination control, so when I restructured that it works. You could close this out, thanks!

[2018-08-09 15:02] mattkersner opened #20 "Is it possible to load in a gif or image for the loading text?"
Not so much an issue, but a question. I tried loading in some HTML into the loadingText option, but it loads in the HTML structure as a string. Just wondering if this is possible at all, thanks!

[2018-08-09 15:03] #19 closed

[2018-08-10 19:58] mattkersner commented on #20
Worked perfectly, thanks!

[2018-08-11 01:27] ButsAndCats commented on #20
PR raised #21

[2018-08-23 01:13] Cam opened #22 "Settings option for loading text target"
It would be ideal if we had a target selector option to allow for quickly changing the element the loading text is created in.

[2018-08-23 19:27] Arsalan16723 opened #23 "I am facing very slow product loading. Can someone suggest me how to increase the loading speed of new products."

[2018-08-23 23:11] #20 closed

[2018-08-24 03:17] Cam commented on #23
@Arsalan16723 I'd recommend making sure your product images aren't too large, that you aren't trying to load too many products at once (ie keep pagination too something sensible), and that you are using optimised image loading techniques (like lazyloading).

Ajaxinate just loads the next pages contents, so fetching those products is pretty much the same process as loading the next page. So if load

[2018-08-24 03:17] #23 closed

[2018-09-07 00:24] ArthurSCD opened #24 "Endless Scroll/Click not working on Edge"
Hello,

I'm trying to figure out the reason I can't get endless scroll to work on Edge.
https://2og9j9nshet8mw3y-7018969.shopifypreview.com/collections/jewelry-archive

It works fine in Chrome and Firefox on Windows.
However I can get an error to pop in console on Edge -
`InvalidAccessError`
`ajaxinate.min.js (122,3)`
Which is
```  this.request.responseType = 'document';```

However I can see http

[2018-09-13 23:55] Cam commented on #24
@ArthurSCD looking at that page with the inspector, I can see that there are a lot of errors firing on the page. That's probably what is stopping Ajaxinate from being able to fire properly in some situations.

Check out the error at line 8299 of the rendered code in your console.

It looks like this is an issue with other code in that theme, and not with Ajaxinate, so I'll close this out for now.

[2018-09-13 23:55] #24 closed

[2018-09-17 17:46] markgenest opened #25 "Endless Click Breaks Jquery Slider"
Hi,

I am trying to use endless click to load blog articles that have a jquery slider on document load. However, when I append new content using the endless click, the ajax call breaks the jquery sliders on the new content completely. I've tried to understand how to use a callback functions to reload the scripts, but am having no luck in reloading them.

I've wrapped all the functions tied to the

[2018-09-27 11:47] ButsAndCats commented on #25
Try this @markgenest
[code]

[2018-10-01 11:30] tairli opened #26 "Fails in Customizer"
Hi there, the library works great in store, but fails in Customizer.
Looks like Customizer somehow forces the request to become synchronous and the code throws exception:

Looks like it can be fixed by not setting the _this.request.responseType = 'document';_ and then use
like _DomParser_ on the response string?

[2018-10-01 13:37] markgenest commented on #25
Yes that seemed to work. Thanks!

[2018-10-02 12:39] ButsAndCats commented on #26
Setting the response type might be unnecessary anyway. I think it can safely be removed.

[2018-10-04 23:18] Cam opened #27 "Offset shouldn't be checked continuously on scroll"
Currently the offset is being checked on any scroll event, which will cause some performance issues. An alternative method should be implemented to check position.

[2018-10-06 21:44] #25 closed

[2018-11-02 02:02] willhuang85 opened #28 "In Safari this.nextPageLinkElement is null not undefined"
https://github.com/Elkfox/Ajaxinate/blob/a67e0530981e4f6319b92de19811262c94349f4f/src/ajaxinate.js#L76

At the line above, in Safari, the `this.nextPageLinkElement` is `null` not undefined.

Have not tried other browsers.

According to https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector, it'll return `null` if not found

[2018-11-04 09:47] orby32 opened #29 "How to 'save' loaded products?"
Let's say I've loaded products and enter to some of them, when I go beck to collection page the loaded products are gone and I need to browse them again. There is a way to save the loaded more products?

[2018-11-19 23:40] artshostak opened #30 "Issue with Slate (1.0.0-beta.12) + Webpack"
1. Installed by running:
`yarn add ajaxinate`
`yarn build`

2. Imported in theme.js file by adding the line:
`import Ajaxinate from 'ajaxinate/dist/ajaxinate';`

3. Added the following declaration in the code (with a callback that executes lazy loading of images using bLazy):
``
document.addEventListener("DOMContentLoaded", function() {
  var endlessScroll = new Ajaxinate({
    container: '#Ajaxin

[2018-12-13 03:41] Cam commented on #30
@artshostak I think this is a Slate issue, but will need to dig in to test. We're about to finish up a new version of Concrete for Slate 1, and I'll do some testing in that environment once that's up and running.

If you find anything in the meantime, please do add further comments. And thanks for submitting this with useful detail 👍

[2018-12-13 03:44] Cam commented on #29
Yes, sort of. This is one of the biggest problems with the whole Ajax pagination concept really.

We've used a few methods. One was to cache all of the product data (and viewing position) in local storage. That worked quite well, but obviously encourages up a few potential headaches.

I'll close this out for now, as it isn't really an "issue". But please feel free to comment further and keep the d

[2018-12-13 03:44] #29 closed

[2018-12-13 03:46] Cam commented on #28
@willhuang85 I see what you mean. I'll update to suit.

Thanks for reporting!

[2018-12-13 04:08] Cam commented on #28
Oops. Looks like I submitted this fix prematurely. The issue still exists >.<

[2018-12-13 04:32] Cam commented on #28
Fixed in 🔖 version: 2.0.10 [patch]

[2018-12-13 04:32] #28 closed

[2018-12-14 05:12] Cam opened #31 "'loadingText' parameter should be renamed"
'LoadingText' is really 'LoadingHTML' now, as it allows for more than just text strings (See #20).

It should be renamed (with a fallback to avoid creating a breaking change) to something like 'LoadingHTML' to avoid confusion.

[2018-12-18 14:57] marioloncarek commented on #30
@Cam i managed to init this plugin with solution that @artshostak provided, i was having the same issue, this does not work out of the box with webpack. Im also having the same problem when i want to use method: 'click' . But on method scroll it works normally. Do you maybe have some solutions for that, im getting this errors:

[code]

[2019-01-02 15:41] jonXmack opened #32 "Occasional Can't find variable: Ajaxinate error"
In both Chrome 71.0.3578.98 and Safari 12.0.1 on macOS 10.14.1 I'm getting an occasional `[Error] ReferenceError: Can't find variable: Ajaxinate`. I'm finding this is only after I have made changes to a template and I assume a cache is being cleared, after refreshing the page it's fine again. I've put in a workaround  to wait until Ajaxinate is loaded to set the `endlessScroll` variable, but thoug

[2019-01-16 07:29] orby32 opened #33 "When refreash the page it doesn't save the previous products"
When click 'load more' it loads more products, but when I hit 'refresh', the page is not showing the first group of products.

[2019-02-03 04:42] Cam commented on #33
This is actually the intended behaviour. You could store the number of pages previously loaded then load up until that point when you reload the page. But that could take some time to load.

[2019-02-03 04:42] #33 closed

[2019-02-03 04:44] Cam commented on #32
That looks to me like the plugin in being called before it is loaded. You might need to load the plugin earlier on in the page.

[2019-02-03 04:44] #32 closed

[2019-02-07 21:40] Banjerr commented on #30
I'm currently experiencing this same issue, but I can't seem to get Ajaxinate to work even with the instructions @artshostak provided. I get `Ajaxinate is not defined`. I'm importing it in my `theme.js` file, and initializing it from anywhere does not seem to work.

[2019-02-12 20:44] Banjerr opened #34 "Destroy not working?"
I'm experiencing an issue where the destroy event does not seem to unbind anything. After using the destroy method, the ajax pagination still kicks in. Any ideas?

[2019-02-15 07:53] bgmat opened #35 "Detect that last page has loaded?"
Hi,

Is there a way to know, in the callback function, that the last page has loaded?

Thanks

[2019-02-20 01:50] artshostak commented on #30
The solution to this is to ensure that your Loop and Pagination are siblings as before my Pagination was actually inside the Loop. This DOM structure should do it:
![screenshot 2019-02-19 17 49 18](https://user-images.githubusercontent.com/6820356/53060271-b210c080-346e-11e9-820e-28318be38d00.jpg)

[2019-02-20 01:50] #30 closed

[2019-04-21 18:17] prodikl opened #36 "Ajaxinate page says to use ID but code uses Class"
Had to look around in the source code since following the get started page: https://elkfox.github.io/Ajaxinate/ didn't work.

The get started page says to use id="AjaxinateLoop" when in fact, the code uses class="AjaxinateLoop"

[2019-04-25 01:40] mattmagi commented on #36
I was going to post this too, it drove me for a loop!

[2019-05-14 07:37] lesterdefreitas opened #37 "View less button"
I am not 100% sure how the destroy function works, so please forgive me if this is a but of a silly question, but I want to be able to create a "View less" button that basically removes all of the additional pages that you have made visible with the "View more" button. Ideally the functionality to click "View more" again should still be there after clicking "View less" I suppose.

Anyone got any i

[2019-05-21 02:24] Cam commented on #37
@lesterdefreitas interesting idea! You could remove the extra content easily enough, but telling the plugin to add the right content again if the user requests it again wouldn't work unless you modified the `getTheHtmlOfTheNextPageWithAnAjaxRequest` function.

[2019-05-21 02:26] Cam commented on #36
I've been meaning to rewrite the docs. Thanks for bringing this up. I'll make sure we update it soon.

[2019-05-21 02:28] Cam commented on #35
@bgmat you could extend the `getTheHtmlOfTheNextPageWithAnAjaxRequest` function to check if the XMLHttpRequest returns something other than the next page pretty easily.

I'll look at adding this to the next version 👍

[2019-05-22 11:41] lesterdefreitas commented on #37
Ok, good to know! Could you maybe explain how I could add a button that would remove all of the loaded content?

[2019-05-31 10:04] lesterdefreitas commented on #37
Ok, good to know! Could you maybe explain how I could add a button that would remove all of the loaded content?

[2019-06-07 15:29] davidbitton opened #38 "Force a Full Loading"
I'm using  Ajaxinate to overcome the 50 Product limit; aren't we all? Anyway, is there a way to force load the entire page w/o having to scroll? I can always create Liquid templates that just output the necessary HTML if need be. Thanks.

[2019-06-10 17:31] eballeste commented on #30
I always get an empty object

[2019-06-11 08:49] Cam commented on #30
@eballeste You might be calling Ajaxinate before the object exists in the page. What happens if you console log the container object in place of calling Ajaxinate?

[2019-06-11 08:50] Cam commented on #38
@davidbitton I've been writing a new version that does exactly that. I'm currently on the road, and heading to Unite next week. But I can probably share some code that should get you started after that... if you can wait!

[2019-06-11 14:36] davidbitton commented on #38
I can. I found that if I set the paginate value to 1000, it'll load everything.

[2019-06-11 16:29] eballeste commented on #30
I get a reference to the dom object.

What I meant was I followed your steps using `exports-loader` to try to import Ajaxinate and what happened before and now, after trying your method, is that I always get an empty object when I console log the Ajaxinate global, for some reason `exports-loader` never worked for me.

I gave up after a while and added the script into a vendor folder and edited it

[2019-06-14 10:00] Cam commented on #30
@eballeste Ahh, I see what you were saying. I'll check this out when I'm back from the Unite conference.

[2019-06-14 10:21] Cam commented on #37
@lesterdefreitas Something along the lines of adding the remove button dynamically after loading the new page content, then listen for a click event on that button. Once triggered you would use something like `removeChild(elementID)` or `innerHTML = ''` to remove that new page content.

[2019-06-14 10:24] Cam commented on #38
OK, cool. I write a completely new custom version for another project recently that also included filtering functions. I'll try to make some time to modularise that when I'm back from Unite.

[2019-06-14 17:51] onedanshow commented on #26
Had the same problem. Here's what I changed the `loadMore` method to:

[code]

[2019-07-01 20:44] isabelle-tommyjohn opened #39 "Package not loadable as module"
I'm using Slate and trying to load Ajaxinate as a module so that I can access it from my compiled JS files. I've added Ajaxinate as an alias in my slate.config.js file using `require.resolve('./node_modules/ajaxinate')`. However, this fails because Ajaxinate's package.json file contains `"ajaxinate.js"` as the value for its `"main"` attribute, which points to a file that doesn't exist. Presumately

[2019-07-01 21:49] iamitrovics opened #40 "Issue with Ajax add to cart"
Hi,
i am having issues by using this plugin along with ajaxify-cart (adding to cart via ajax). If you check this link https://meetscarlet.myshopify.com/collections/pads first 12 items works just fine (add to cart via ajax, toggle button state etc). But when i scroll down and more items are loaded , those new items discard add to cart via ajax. If i click of any new loaded products page is reloaded

[2019-07-05 21:05] brandonbrown commented on #40
This may just be a targeting issue. With dynamic data being added, the DOM may not become aware of the new elements. Target the document or a parent of the dynamically added element, and reach down from there. For example, with jquery:

`$(document).on('click', '.add-to-cart', function() {  ...  })`

[2019-07-19 17:36] lear2000 opened #41 "Back button Help"
I have scroll turned on, if I scroll down a few sections, click a shirt, click back I always end up in an random place. I noticed on the demo shop this never happens. Am I missing something or is it a (css) layout issue?

https://ed531a6jq89afhoi-17091169.shopifypreview.com

[2019-07-23 05:10] Cam commented on #41
@lear2000 that behaviour would depend on a number of factors in your theme. On some stores we push a [history state](https://developer.mozilla.org/en-US/docs/Web/API/History_API) so that we can control where the user is returned to when hitting the back button. You can get quite creative with that 👌

[2019-07-23 05:10] #41 closed

[2019-07-26 15:02] mateuspv opened #43 "Failed to set the 'responseType' property on 'XMLHttpRequest'"
Hi, I just setup Ajaxinate on `blog.articles` collection, I got a `XMLHttpRequest` request error:

Failed to set the 'responseType' property on 'XMLHttpRequest': The response type cannot be changed for synchronous requests made from a document.

Throw by line: https://github.com/Elkfox/Ajaxinate/blob/master/src/ajaxinate.js#L120

![Screenshot from 2019-07-26 11-43-56](https://user-images.githubuse

[2019-07-27 12:49] stanleynguyen commented on #36
@Cam as per our discussion in #42, I will rework the implementation to be using ID instead of class. Shall this ticket be changed to enhancement?

[2019-08-02 05:03] #36 closed

[2019-08-19 02:01] Cam commented on #43
@mateuspv that suggest the request is being sent with a synchronous flag set. Ajaxinate doesn't set that flag, so this seems very odd to me.

Do you have a link to the project somewhere where I can view this happening? If not, the applicable part of the vendor.js file could help.

[2019-08-19 02:04] Cam commented on #40
Looks like you got this working. Thanks @brandonbrown 👍

[2019-08-19 02:04] #40 closed

[2019-08-23 18:28] lear2000 commented on #41
Ok. Noob to history state, I have tried a few things and failing. Have any pointers.
I am thinking if I can initiate the ajax to be loaded when I arrive back on the collection page it might fix the issue, like preload the previous page

[2019-08-24 06:08] Cam commented on #41
@lear2000 There's a few approaches...

You could store the location and reload the content using Ajax, then scroll to that location (or something similar).

You could do something like store the collection's products in local storage then reload that when returning.

One option I like it to store the page that the customer was at when they clicked through. Then load that page first when returning

[2019-09-27 14:42] ConduciveMammal opened #45 "X.default is not a constructor"
After loading in the package via Yarn, I'm given this console error: `Uncaught TypeError: i.default is not a constructor`.
Very similar to #30, however I'm not using Slate.

It appears to be an issue with the package itself as when I directly linked to the JS file on the demo page, it worked perfectly.

This is my code:

[code]

[2019-10-23 11:00] BlockDigi opened #46 "Going back to collection from product page does not take you back to where you were."
Hi,

This is my first ever GitHub comment - apologies if there are any mistakes or if I have done this wrong.

First of all - great plugin. We use it on a number of our sites and it seems to work very well.

That being said, one issue we've found is that clients are complaining that their customers are losing the point to which they scrolled too when they go from a collection page, to a product pa

[2019-10-24 03:10] Cam commented on #46
@BlockDigi Congratulations! This is a good first issue, in that you explained your issue in a clear and respectful way 👍

What you are seeing is actually the intended default behaviour. As Shopify only loads a maximum of 50 products at a time, the additional products need to be fetched in batches after load. When you press the back button, the page is essentially reloading the first state of the p

[2019-10-24 03:10] #46 closed

[2019-10-28 15:16] stanleynguyen opened #47 "IE Object.assign not available"
Object.assign is not available on IE. The fix is simple as only a polyfill is necessary
[code]

[2019-11-13 23:25] Cam commented on #45
We've got a new version coming soon @ConduciveMammal. The old version doesn't play well as a package.

[2019-11-13 23:26] Cam commented on #45
Definitely related to #30

[2019-11-13 23:27] Cam commented on #47
@stanleynguyen nice one. Personally I don't think we should change the package to support IE. But I'd like to keep this issue open, and possible pinned, so that others can implement support for IE as necessary.

[2019-11-13 23:32] Cam commented on #39
@isabelle-tommyjohn Are you still keen to help with this? It sucks I didn't see this issue earlier. Quite a few people have been having the same issue.

I'm working on repackaging the whole thing with a focus on using it in Slate (and other dynamically compiled projects). But if you have a fix for the current version, that would be very very appreciated!

[2019-11-29 03:24] dsiosoft opened #48 "Need help"
https://bodtek.co/collections/mens

I have setup Ajax-pagination here. Now I want to set custom display limit here.
how can I display only first 8 product using this code.
currently it's display 9 product at first.

any one help.

 document.addEventListener("DOMContentLoaded", function() {
    var endlessClick = new Ajaxinate({
      method: 'click'
    });
  });

[2019-11-29 03:26] Cam commented on #48
@dsiosoft Just change your pagination liquid tag. Ajaxinate inherits the pagination etc from the native liquid markup.

[2019-11-29 03:32] dsiosoft commented on #48
I have set custom code for display each product variants on collection page instead of product.
If I set limit in liquid ( 1 ). then it's display all variant in 1 product.
Currently I have set Limit for 2.

{% if collection.handle == 'all' %}
{% assign limit = 999 %}
{% else %}
{% assign limit = 2 %}
{% endif %}

{% paginate collection.products by limit %}
{% paginate %}

![Colleciton page](https:

[2019-11-29 04:41] Cam commented on #48
Then you would need to find a way to count variants in each product and use that when fetching the next set. You could do that with a bit of liquid and custom and javascript. Shouldn't be too hard.

That's a little outside the scope of the Ajaxinate project though, so I'll close this out.

[2019-11-29 04:41] #48 closed

[2019-11-29 05:16] dsiosoft commented on #48
If you any Idea about find next set of variant then please share. because I am stuck with this.
Any reference. any logic ??

[2019-11-29 05:18] Cam commented on #48
The {{ product.variants }} object has an array of the variants in each product, and the Ajax API has an array of the variants too https://help.shopify.com/en/themes/development/getting-started/using-ajax-api#get-product

[2019-12-05 21:35] isabelle-tommyjohn commented on #39
@Cam I opened the above PR from the changes I made in my fork. I'd be more than happy to help out further in any way I can. Thanks!

[2019-12-06 01:26] Cam commented on #39
@isabelle-tommyjohn great stuff, thanks. I'll merge this in ASAP and add the improvements I've been working on and bump this up to a new version.

Thanks!!

[2020-01-30 08:40] #39 closed

[2020-01-30 08:49] Cam commented on #34
Destroy is working in the demo. Could you take a look at how it is implemented there and let me know if you have any questions etc.

[2020-01-30 08:49] #34 closed

[2020-03-03 09:52] untetheredcollective opened #53 "Products being duplicated"
If I set the pagination for less products than there are in the collection, all products are loaded upon scroll plus additional duplicated products. For example, I set the pagination to 24 and there are 27 products in the collection. It loads the 27 plus 3 duplicate products of the last 3 products of the 27. I would expect it to load the 27 products and stop there. Happens on desktop/mobile and al

[2020-03-04 01:33] Cam commented on #53
@untetheredcollective Hmm, interesting. I haven't seen that behaviour before.

Can you upload to a dev store so I can take a look? A fix will be pretty easy, once we confirm.

[2020-04-06 11:43] ThemuMitch opened #54 "TypeError: this.nextPageLinkElement is null"
### Issue:
When not outputting the `<a>` tag when the `paginate.next` Liquid object is nil, as in the documentation...
[code]
... the function addClickListener throws an error:
Uncaught TypeError: Cannot read property 'addEventListener' of null (Chrome)
TypeError: this.nextPageLinkElement is null (Firefox)

### To reproduce:
1. Go to the 'endless click' demo page:
https://ajaxinate.myshopify.com/c

[2020-04-07 01:24] Cam commented on #54
@ThemuMitch Thanks for reporting this 👍

I think I know what happened here. We'll get a patch release up ASAP!

[2020-04-12 17:59] gvisniuc opened #55 "Loaders does not work on the Shopify Narrative theme"
**Describe the bug**
Hi there,
I have recently implemented the load more button on a Brooklyn theme and worked perfectly.

However when implemented on a new **Narrative** theme it fails to load the new objects (the request does succeed it's just the visual part not working).

I investigated a bit and seems to be the `cardManager` object in `theme.js` responsible for loading the new content.

I wou

[2020-04-15 22:55] Cam commented on #55
Hey @gvisniuc. I'm 99% sure you'd just need to call whatever function is dynamically adding the content to each of the paginated items.

There's a callback option available for exactly that.

I'm a little hard pressed for time at the moment, but  I'll try to get some of the more popular themes up in the demo store with some examples as soon as I can.

[2020-04-15 22:56] Cam commented on #55
The documentation should ideally have some more info on the callbacks too.

[2020-04-16 10:41] gvisniuc commented on #55
Hi @Cam Thank you for the reply.

I did eventually implement a callback logic, but indeed documentation on that from Shopify is non existent.

The issue is that even after triggering the callback function to reload the items in the cardManager object, the items are prepended instead of appending them.

Looking forward for a solution in the future when you have some time.

[2020-04-18 02:02] ptboozer commented on #45
I had the same issue. Eagerly awaiting the new version. Thanks for rolling it out soon

[2020-06-02 01:47] sthreeone commented on #26
Thank you @onedanshow I found that the problem is if you have another script using the XMLHttpRequest and breaks it, then Ajaxinate can't run anymore.

Your solution worked!

[2020-06-22 22:29] KelseyCooper commented on #54
Looks like this issue still exists

[2020-06-25 01:32] Cam commented on #54
Sorry about the delay on this. We've been pretty overwhelmed with the extra workloads during Covid.

@KelseyCooper This was fixed in 3.1, which was just published.

@ThemuMitch Thank you for your help with this.

Please note that the non-NPM browser version currently doesn't work as expected. We're in the process of creating a v4 to resolve those issues and add new more modular features and option

[2020-06-25 01:32] #54 closed

[2020-06-25 01:33] #53 closed

[2020-07-14 08:24] mchmddiazz opened #57 "problem for duplicate product in debut theme"
Hi @Cam can you help me? I got the duplicate product when I'm trying slow scrolling. Am I wrong in the coding section or is there one of the parts that I haven't entered?
![Screenshot_141](https://user-images.githubusercontent.com/32628733/87402614-07aab780-c5e6-11ea-8e3c-e79572acf547.png)
![Screenshot_142](https://user-images.githubusercontent.com/32628733/87402617-0a0d1180-c5e6-11ea-8039-3165c58

[2020-07-21 03:30] Cam commented on #57
Hi @mchmddiazz. Looks like you already resolved this. Is that correct?

[2020-08-11 00:49] HotpotCreative opened #58 "Non-Infinite?"
Hi @Elkfox.

Great plugin. Works quick and a treat.

My client is wondering if the plugin can be 'non-infinite'. As in, once it reaches the end of a collection, it stops.
I wasn't able to work out anything by looking at the docs or code, but I'm usually a front-end Dev (ahh, my shame!).

[2020-08-12 05:58] Cam commented on #58
@HotpotCreative Thanks!

You could use the destroy method to stop it at any point you choose. But I'm not sure I'm totally understanding your question. There shouldn't be any more items loading after all of the items in the collection have loaded.

[2020-08-13 00:23] HotpotCreative commented on #58
It's looping continuously through all products in that collection when reaching the end.

https://huxbaby-launch.myshopify.com/collections/wilderness (Access PW is 'fentai')

[2020-08-13 00:29] Cam commented on #58
Can you please paste the logic for your pagination element here (and surrounding lines). I suspect that's where the issue must be, but obviously can't see liquid via inspector.

[2020-08-13 00:41] HotpotCreative commented on #58
**Main collection loop:**

`
{% for product in collection.products %}
            	  {% if product.available %}
                  < div class="col-6 col-md-4 mx-0 entry px-0" >

                    {% assign label = "" %}
                    {% assign sus = "" %}
                    {% assign feature_collection = settings.current_season_collection %}
                    {% if product.available %}

[2020-08-13 05:54] Cam commented on #58
@HotpotCreative You should just need to change `{% if paginate.pages > 1 %}` to `{% if paginate.next %}`.

[2020-08-13 05:54] #58 closed

[2020-09-18 10:25] ConduciveMammal opened #59 "Gulp error: Unexpected token: keyword «const»"
**Describe the bug**
I'm trying to use the NPM package along with Gulp-Uglify but the Ajaxinate package is causing a compile error:

[code]
If I remove `import { Ajaxinate } from 'ajaxinate';` from the top of my file, it compiles fine.

[2020-09-21 02:30] Cam commented on #59
@ConduciveMammal It looks like UglifyJS doesn't support ES6 syntax, which Ajaxinate uses. Take a look at [this Stack Exchange post for some options](https://stackoverflow.com/questions/47439067/uglifyjs-throws-unexpected-token-keyword-const-with-node-modules).

[2020-09-21 02:30] #59 closed

[2020-09-21 02:30] #57 closed

[2020-09-21 02:35] Cam commented on #45
I believe this was resolved with 5c975c4

[2020-09-21 02:35] #45 closed

[2020-09-21 02:35] #43 closed

[2020-09-22 23:55] josejk opened #60 "Issue with Ajax filters"
When filters are applied and products are reloaded through Ajax the endless click will not work and will just take them to next page after that it works normal. This is a UX issue and would like to know if there is a solve for this. It can fixed by simply reloading the page after each Filter is added or removed but this will just make the site look poorly built.

[2020-09-23 01:06] Cam commented on #60
@josejk Sounds like the pagination isn't being dynamically reloaded before you make the next request.

You'd need to modify the script to fetch the next page from your filtered request rather than the original paginated content.

[2020-09-23 01:06] #60 closed

[2020-09-23 01:16] josejk commented on #60
Any suggestions on how to add that i have tried to do it through a callback and through an onLoad event.

[2020-09-23 01:19] Cam commented on #60
As the next page is pulled from the URL in the pagination element you could update that element when you make your initial filtered Ajax request.

[2020-09-23 10:36] alvinkonda opened #61 "Don't work inside Shopify theme editor"
Normally it should work inside Shopify Theme editor as well. On site it works fine.

This is the error we get
`Uncaught InvalidAccessError: Failed to set the 'responseType' property on 'XMLHttpRequest': The response type cannot be changed for synchronous requests made from a document.`

[2020-09-30 23:38] monsmedia opened #62 "Images not loading"
Hello, I have a custom theme and was able to implement Ajaxinate.
However when I click on the load more button, it loads the other products but not the images.

![images_not_loading](https://user-images.githubusercontent.com/34288228/94750610-0e76da00-034c-11eb-8faa-5707cd01f9f6.gif)
-- edit --
On further inspection it seems that it does not load the image in `src` and instead loads the default im

[2020-10-01 01:46] Cam commented on #62
@monsmedia Your theme is using some form of lazy loading for those images. So you'll need to wire up the callback to re-initialise the lazy loading when new images are loaded.

You could also just change `default-image.jpg'` to `product.featured_image`.

[2020-10-01 01:46] #62 closed

[2020-10-02 18:20] shaniadicen opened #63 "Dynamic number of products/items to load"
I am building a Shopify collections page and would like to a way to change the number of products to load when the user clicks on the button. It looks like for now, there is no option to do this and that the number of products that will load will always be the same to the initial products that displayed on page load.

I would like there to be a way for the number of products to load to be dynamic

[2020-10-03 03:35] techmastersri opened #64 "fails in shopify theme edit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to in your theme editor and try to scroll or click for more

[code]
this doesn't seem to fix the issue as suggested, I even saw the code from the demo and tested that, Shopify has been updating things in the admin area so I'm not certain if this could be the underlying

[2020-10-09 09:31] ntkettle opened #65 "Callback doesn't fire after every page load"
**Describe the bug**

Callback only fires on initial page load, not after every new load/click event.

**Expected behavior**

Callback fires at every new page load after button click (when using click rather than endless scroll)

[2020-10-12 12:06] #65 closed

[2021-01-18 21:29] qnak94 opened #67 "Add load event"
Sometimes you need to execute code after uploading products, for example, update SmartWishlist.
You can add an event
`this.ajaxinateLoaded = new Event('ajaxinateLoaded');`
and execute it immediately after adding new products?
`document.dispatchEvent(this.ajaxinateLoaded)`
I think this will help a lot.

[2021-03-03 18:28] lightmar commented on #62
Hi, I'm facing the same problem.
@monsmedia did you find a solution for that?
@Cam How can you re-initialise the lazy loading?
Thank you!

[2021-03-03 18:30] lightmar opened #68 "Lazy loading issue"
Hi,
My theme uses lazy loading to load the images on the collection pages, so when a new page is being loaded using Ajaxinate, the images doesn't show.
How is it possible to activate the lazy loading on the new items that are being loaded using Ajaxinate?
I use the Impulse theme.

Thank you!

[2021-04-02 14:39] NickDaelemans opened #69 "Return page information to callback"
I'm trying to display text above the button that says something like '9 of 102 products loaded', but I don't get any page information in the callback

I tried implementing the callback, but you only get the entire HTML response in there.

Is there currently any way I can get this to work or should we add this feature?

[2021-06-05 03:23] Cam commented on #63
@shaniadicen this isn't possible due to the way Shopify pagination works.

[2021-06-05 03:23] #63 closed

[2021-06-05 03:34] Cam commented on #68
Hey @lightmar. You need to use the callback to initiate lazy loading on new items as they are added.

[2021-06-05 03:34] #68 closed

[2021-06-05 03:35] Cam commented on #67
@qnak94 for sure. I'm a big fan of custom events for plugins. I'll look at adding this as soon as we can.

[2021-06-05 03:36] Cam commented on #64
Probably related to #61

[2021-06-06 08:41] joshuahalldesign opened #70 "Any way to slow the loading down so we can see the text for a specific period of time?"
I have a client who is wanting the ajaxinate load to be slower (i know.. illogical hey!) so they read the loadingText.

Example. When scroll down, the loadingtext appears for 3s and then fades out revealing the new posts after that...

[2021-06-07 01:28] Cam commented on #70
Hi @joshuahalldesign. I think the easiest way would be to create a fork of the project and add a delay. I can't think of any practical way to do this using the library as it works currently.

You could use the endless click method and trigger a click yourself. But that doesn't seem all that elegant.

[2021-06-07 01:28] #70 closed

[2021-06-08 09:35] tomaszbujnowicz opened #71 "Endless scroll doesn't work on the demo page"
**Describe the bug**
The endless scroll feature doesn't work anymore - on the demo page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the demo page https://ajaxinate.myshopify.com/collections/all
2. Scroll down
3. See error, products are not loaded and "Loading More Products" message is hanging

It's only the scroll method, click works properly.

[2021-06-09 00:12] Cam commented on #71
Hey @tomaszbujnowicz. It still works. You can see the demo at https://ajaxinate.myshopify.com (root URL).

Thanks for alerting me to the collocations all page though. I'll update the demo to show endless scroll on all collection pages except the endless click demo.

[2021-06-09 20:46] tomaszbujnowicz commented on #71
Thanks @Cam for a quick reaction here 🙌
Closing the ticket since it has been resolved.

[2021-06-09 20:46] #71 closed

[2021-07-09 15:53] harshlohana opened #72 "Loading... remains constant"
After all products are loaded successfully , loading text still remains in my collection page.
Attached the console errors as ss please look into it.
Theme - empire.js
link - https://lightingdesign.com/collections/portable-and-wall
![Screenshot 2021-07-09 155250](https://user-images.githubusercontent.com/47289608/125105207-da5eef80-e0fb-11eb-8531-84addef9c883.png)

[2021-07-12 06:44] cam commented on #72
Hi. It's hard to tell without seeing the liquid markup. But it looks to me like your pagination isn't set up correctly.

[2021-07-12 07:08] harshlohana commented on #72
`

<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data

  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "grid_list": {{ section.settings.default_view | json }},
      "collectionUrl": {{ collection.url | default: '/c

[2021-07-12 07:09] harshlohana commented on #72
@Cam i have attached the code please help me with it

[2021-07-12 07:11] cam commented on #72
@harshlohana If you can share the the original file I can take a look. The pasted version is pretty messed up.

[2021-07-12 07:19] harshlohana commented on #72
[paginate2.liquid.txt](https://github.com/Elkfox/Ajaxinate/files/6799338/paginate2.liquid.txt)
[collection.liquid.txt](https://github.com/Elkfox/Ajaxinate/files/6799339/collection.liquid.txt)

@Cam yes sure, these are the files

[2021-07-12 09:51] cam commented on #72
@harshlohana can you please try moving the pagination ID to the top element of your pagination structure. It should be adjacent to the paginated content container.

[2021-07-15 10:40] chartalex commented on #55
Hey @gvisniuc !

I'm also stuck here :(

Have you found a solution for a callback function to trigger the CardManager?

[2021-07-28 19:33] thomaskimura opened #73 "Loading continues at the end of collection"
First of all, thank you for making such a wonderful piece of software :)

Scrolling to the bottom of a collection page will load more products even if all products are already displayed. I have tested this on collections with only 6 products and we get a continuous loop of the same products.

Here's the js we have to initialize ajaxinate
[code]

And here is the liquid for our collection grid
[code

[2021-07-29 01:36] cam commented on #73
Hey @thomaskimura. Glad you like it!

It looks like you need to wrap your `{{ paginate.next.url }}` component in an if statement.

Something along the lines of:

[code]

[2021-07-29 18:15] thomaskimura commented on #73
@Cam Amazing! That did the trick. Thanks Cam

[2021-07-30 00:31] #73 closed, assigned to nobody

[2021-08-05 11:47] mortenladefoged opened #74 "Fails when products are sorted"
Hi,
I'm building a Shopify store and have implemented the endless scroll Ajaxinate on my collection template and it works great.

However if I sort my products, let says price ascending, and hit the load more products, I end up with this URL

https://lavinordic.dk/collections/bolig-og-interior?page=2&sort_by=price-ascending&view=ajax

resulting in all links to images, stylesheets etc are broken.

[2021-08-06 03:51] cam commented on #74
Hi @mortenladefoged. Can you grant me access the frontend of your dev store to take a look?

[2021-08-06 06:24] mortenladefoged commented on #74
Hi @Cam. No problem. Which email should I send the invite to?

[2021-08-06 06:41] cam commented on #74
Please send the frontend preview password to issue-961741107@elkfox.com

[2021-08-06 08:24] mortenladefoged commented on #74
Access to frontend preview sent

[2021-08-09 03:59] cam commented on #74
Thanks Morten. I had a look at the issue, and it seems to be due to the fact the collection is actually loaded from a different source when you change the sorting. The theme is fetching new contents from the `collection.ajax.liquid` template.

At a guess I would say that you need to update the collection.ajax template to suit the plugin too.

[2021-08-09 07:00] mortenladefoged commented on #74
![image](https://user-images.githubusercontent.com/88491072/128669711-9f3b85cd-be20-410a-b319-d83c303e50ff.png)
![image](https://user-images.githubusercontent.com/88491072/128669726-ce2e73ce-c87b-412f-8f85-c6884a3bb8ef.png)
Hi Cam. Thanks for your reply. I'm not quite sure on how to update the ajax collection file, besides calling the js on this as well. They both use the same colletion-template s

[2021-08-11 01:59] cam commented on #74
@mortenladefoged You probably need to add the listener again when the page is reloaded dynamically. Alternatively you could disable the ajax sorting option, so the page reloads fully when the sorting method is changed.

I'll close this for now, as it isn't an issue with the plugin itself.

[2021-08-11 01:59] #74 closed, assigned to nobody

[2021-08-11 01:59] #72 closed, assigned to nobody

[2021-10-01 02:30] estebangallego opened #75 "Duplicates Collection in Shopify"
**Describe the bug**
Once you start scrolling and at the last product, it will duplicate all the products again and again.

**To Reproduce**
Steps to reproduce the behavior:
1. Scroll down
2. At the last product in the collection, the batch of products will repeat with no stop

**Expected behavior**
Stop scrolling at the last product

**Link**
https://honorthegift.co/collections/accessories

**Add

[2021-10-05 14:33] hoanganhover opened #76 "I get an error on ios 15"
I get an error on ios 15
io14 and below still work

How to fix this?
https://www.luvia-cosmetics.de/collections/bestseller

https://gyazo.com/3d24f92e3b8c50acec90b0c2373bf8d0

[2021-10-09 05:42] ronny commented on #76
I forked and rewrote the code to use `fetch` instead of `XMLHttpRequest`. It fixes this issue. It's not a drop-in replacement, but should be pretty easy to adjust. Code is available here https://github.com/ronny/infiniscroll

The relevant code is here if anyone wants to adjust Ajaxinate: https://github.com/ronny/infiniscroll/blob/27e3495cdb9b7a8cf6bf4ef5229ebc6b0aef634d/infiniscroll.ts#L122-L146

[2021-10-20 20:30] BrendanBerkley commented on #35
Good feature request.

In the meantime, I did this:

[code]

Then you'd want the `hide` class to have a style of `display: none`.

[2021-11-22 09:35] hoanganhover commented on #76
@ronny Thank you I'll try

[2021-11-24 03:36] ahardworker opened #77 "Callback function not called on ios (intermittent)"
**Describe the bug**
On ios (mobile) sometimes the callback function is not called, instead, I just see the "loading" message. It only happens when the internet is slow. Does anyone have an idea?

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Ajaxinate
2. have slow internet and an ios device
3. Scroll down to the end of the collection
4. Nothing will happen

**Smartphone (please compl

[2021-11-24 07:22] Bhakti-mak opened #78 "ResponseXML null on Safari"
On safari ResonseXML null but on chrome it's working fine.
I got this error on safari:
TypeError: null is not an object (evaluating 'this.request.responseXML.querySelectorAll')

Desktop:
OS: iOS 11.1
Browser:  safari

Device: iPhone11
OS:  iOS15.1
Browser: safari (latest version)

[2021-11-25 14:19] klswcz commented on #78
Try replacing your ajaxinate.js file with this https://gist.github.com/de83dda78359220bcf65de8f4461958f it was updated based on this fix https://github.com/Elkfox/Ajaxinate/issues/76#issuecomment-939232553

[2021-12-04 09:41] deepakdangi commented on #77
I have the same problem,  anyone have any solution?

[2021-12-16 00:02] soycamis commented on #76
@ronny Excellent, your code worked for me.

[2021-12-16 00:04] soycamis commented on #77
@ahardworker @deepakdangi check this #76

[2022-01-28 19:49] wshen001 commented on #43
@Cam  we do have the theme currently facing the same error. Therefore, I suggest re-open the ticket.
I can share with you our theme preview link to produce the problem.

[2022-02-01 18:02] marslan2037 commented on #43
What happened to this ticket? i am also facing the same issue. Anyone, please help

[2022-02-02 23:39] wshen001 commented on #43
@marslan2037 the temporary hotfix we applied is to update the code directly to the library, you can follow the same implementation like https://github.com/Elkfox/Ajaxinate/pull/66 to your code directly.

[2022-07-25 07:21] tenitski commented on #75
This is likely because you had `paginate.previous` and/or `paginate.parts` in Pagination block.
It works for me after I removed those two, leaving only `paginate.next` like shown in the docs:

[code]